body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main_map {
  height: 600px;
}

.img_fondo {
  /* background-image: url('/images/bicis.jpg'); */
  background-color: #131313;
}