extends ../layout

block content
    .container
        a.btn.btn-info.rounded-pill.my-2(href='/bicicletas') Volver

        h4 Nueva Bicicleta

        form.col-md-6.row(action='/bicicletas/create' method='post')
            .form-group.col-md-12
                label.control-label(for='id') ID:
                input#id.form-control(type='text' name='id')
            .form-group.col-md-12
                label.control-label(for='color') Color:
                input#id.form-control(type='text' name='color')
            .form-group.col-md-12
                label.control-label(for='modelo') Modelo:
                input#id.form-control(type='text' name='modelo')
            .form-group.col-md-12
                label.control-label(for='lat') Latitud:
                input#id.form-control(type='text' name='lat')
            .form-group.col-md-12
                label.control-label(for='lng') Longitud:
                input#id.form-control(type='text' name='lng')
            .col-md-12
                input.btn.btn-success.btn-block(type='submit' value='Enviar')
        