extends ../layout

block content
    .container
        a.btn.btn-success.rounded-pill.my-2(href='/bicicletas/create') Agregar Bicicleta
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Color
                    th(scope='col') Modelo
                    th(scope='col') Ubicación
                    th(scope='col')
                    th(scope='col')
            tbody
            each bici in bicis
                tr
                    td(scope='row')= bici.id    
                    td= bici.color    
                    td= bici.modelo    
                    td= bici.ubicacion
                    td 
                        a.btn.btn-info.p-2(href='bicicletas/' + bici.id + '/update') Editar
                    td
                        form.inline(method='post' action='bicicletas/' +bici.id + '/delete')
                            input(type='hidden' name='id' value=bici.id)
                            button.btn.btn-danger.p-2(type='submit' name='submit_param' value='submit_value') Eliminar
