extends ../layout

block content
    .container
        a.btn.btn-info.rounded-pill.my-2(href='/bicicletas') Volver

        h4 Actualizar Bicicleta

        form.col-md-6.row(action='/bicicletas/' + bici.id + '/update' method='post')
            .form-group.col-md-12
                label.control-label(for='id') ID:
                input#id.form-control(type='text' name='id' value=bici.id)
            .form-group.col-md-12
                label.control-label(for='color') Color:
                input#id.form-control(type='text' name='color' value=bici.color)
            .form-group.col-md-12
                label.control-label(for='modelo') Modelo:
                input#id.form-control(type='text' name='modelo' value=bici.modelo)
            .form-group.col-md-12
                label.control-label(for='lat') Latitud:
                input#id.form-control(type='text' name='lat' value=bici.ubicacion[0])
            .form-group.col-md-12
                label.control-label(for='lng') Longitud:
                input#id.form-control(type='text' name='lng' value=bici.ubicacion[1])
            .col-md-12
                input.btn.btn-success.btn-block(type='submit' value='Enviar')
        